* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
width: 100%;
  height: 100%;
}
.users{
  display: flex;
  
  flex-wrap: wrap;
}
.user{
  background-color: rgb(56, 55, 55);
  color: aliceblue;
  width: 15rem;
  border-radius: 1rem;
  height: 8rem;
  padding: 1rem;
  margin: 20px;
}
.Userinputs{
display: flex;
flex-direction: column;
}
input{
  width: 200px;
  padding: 6px;
  margin: 10px;
}
button{
  padding: 6px 25px;
  background-color: rgb(39, 155, 39);
  border: none;
  border-radius: 4px;
}