* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
width: 100%;
  height: 100%;
}
.user{
  background-color: rgb(56, 55, 55);
  color: aliceblue;
  width: 20rem;
  border-radius: 1rem;
  height: 7rem;
  padding: 1rem;
  margin: 20px;
}